body {
    background-color: rgb(167, 167, 167);
    text-align: center;
}
h1 {
    font-size: 20px;
    color : rgb(255, 163, 43);
    text-align: center;
}
.contenuimage {
    width: 100%;
}

.orange {
    height: 200px;
    background-color: rgb(100, 80, 42);
}

/* navbar */
.navbar {
    background-color:#14213D; 
    height: 100%; 
    position: fixed; 
    display: flex; 
    flex-direction: column;
    margin-right: 0%;
}

.content-nav {
    margin-left: 5%;
    margin-right: 5%;
}


.nom {
    color: #FCA311;
    font-size: 5vmin;
    font-family: Roboto;
    
}

#metier {
    color: #FCA311;
    font-size: 2.5vmin;
    font-family: Lato;
}

.section {
    height: 15%;
    border-style: solid;
    border-color: rgb(255, 163, 43);
    border-radius: 40px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.lien {
    color: #FCA311;
    font-size: medium;
    position:auto;
    font-size: 2vmin;
    
}