body {
    background-color: #ffffff;
    text-align: center;
}
h1 {
    font-size: 20px;
    color : rgb(255, 163, 43);
    text-align: center;
}
.contenuimage {
    width: 100%;
}

.orange {
    height: 200px;
    background-color: rgb(100, 80, 42);
}

/* navbar */
.navbar {
    background-color:#14213D; 
    height: 100%; 
    position: fixed; 
    display: flex; 
    flex-direction: column;
    margin-right: 0%;
}

.content-nav {
    margin-left: 5%;
    margin-right: 5%;
}


.nom {
    color: #FCA311;
    font-size: 5vmin;
    font-family: Roboto;
    
}

#metier {
    color: #FCA311;
    font-size: 2.5vmin;
    font-family: Lato;
}

.section {
    height: 15%;
    border-style: solid;
    border-color: rgb(255, 163, 43);
    border-width: 0.3vmin;
    border-radius: 40px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.lien {
    color: #FCA311;
    font-size: medium;
    position:auto;
    font-size: 2vmin;
    
}

.entete {
    background-color: darkgray;
    height: 25vh;
    width: 100%;
    --bs-gutter-x: 0%;
    
}

/*competences*/
.container-comp {
    width: 90%;
    padding-left: 10%;
}

.famille-comp {
    display: flex;
    flex-direction: column;
}
.titrebloc {
    text-align: left;
    font-size: 3vmin;
    float: left;
    background-color: white;
    position: relative;
    left: 5%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 1000;
    margin-bottom: -0.5em;

}

.bloccomp {
    border: solid;
    border-color: black;
    border-width: thin;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.competence {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    align-items: center;

}

.compicone {
    width : 2vw;
    height: 2vw;
}
.comptxt {
    padding-left: 1vw;
    text-align: start;
    font-size: 1vw;
}